ML model is just a statistical representation  of a real world process

Basically columns are 2 types:

    1. Feature
    
    2. Target

Feature columns:- That helps me to predict.

Target columns:-  That i want to predict

# Statistics are 2 types:

# 1. Descriptive Statistics

# 2. Inferential Statistics

# descriptive Statistics (describing the data using a single number)

Aggregation:

  1.Mean
  
  2.Median
  
  3.Mode
  
Spread of Data:

  1.Variance
  
  2.Standard deviation
  
Percentile

# 2. Inferential Statistics (trying to understand the entire data by using a subset of same data

Note: It is very important to understand how the values in the data are distributed, because depending on how the values in data are distributed, the approach of inferential statistics will be different

# machine learning models are 2 types

1.supervised learning model


2.unsupervised learning model

in supervised learning model the data contains both feature and target columns

In unsupervised learning models the data contains only feature columns

# Supervised learning model

In supervised learning model it contains 2 types:

1.classification model

2.regression model

In classification model the target column contains finite set of possibilities.

In Regression model the target column contains infinite set of possibilities.

# statistics for machine learning

# descriptive statistics

# 1. Aggregation

aggregation is a technique to take a collection of values and output a single value

# mean(average)

In [31]:
data=[2,3,4,5];

In [32]:
import numpy as np
c=np.mean(data);
c

3.5

# Median

steps:
1. sort the values in the collection
2. take the middle value in the sorted collection
3. if there are 2 middle values then we take average of those 2 values

In [6]:
dt=[2,3,4,5,6];
c=np.median(dt);
c

4.0

In [7]:
dt=[2,3,4,5];
c=np.median(dt);
c

3.5

# Mode

1.Mode is nothing but most commonly occuring value in the collection

In [16]:
import pandas as pd
data2=pd.DataFrame({"name":["rohit","kohli","rohit"],"runs":[22,33,33]},index=[1,2,3]);
data2

    name  runs
1  rohit    22
2  kohli    33
3  rohit    33

In [11]:
res=data2["runs"].mode();
res

0    33
dtype: int64

# 2. Spread of Data

# Variance ( var() )

STEPS:

1.Calculate the average of the data

2.find the distance between each value and average value

3.calculate the square of the distance

4.take the sum of all squared distance

5.divide the sum by the total number of values in the data

In [18]:
data=[1,2,4,5,6];
c=np.var(data);
c

3.44

# Standard deviation ( std() )

Square root of the variance

In [21]:
std=np.sqrt(c);
std

1.8547236990991407

In [22]:
std=np.std(data);
std

1.8547236990991407

# percentile

percentile helps us to understand how many percentage of values are less than or equal to a particular value in the data

L(p)=(n+1)p/100;

where

p=percentile that we want to calculate

n=total number of values in the data

For example, an 18-year-old male who is six and a half feet tall is in the 99th percentile for his height. This means that of all the 18-year-old males, 99 percent have a height that is equal to or less than six and a half feet. An 18-year-old male who is only five and a half feet tall, on the other hand, is in the 16th percentile for his height, meaning only 16 percent of males his age are the same height or shorter.

In [41]:
c=np.percentile(data,50);
c

3.5

as we can see 70% of data is less than 4.8 in the given dataset

# inferential statistics

NOTE: Depending on how the values in the data are distributed,the approach of Inferential statistics will be different

Data Distribution:

1. Normal distribution

# Normal Distribution

Normal Distribution:- It is a special type of density curve that is bell shaped.

It describes the tendency of the data to cluster around central values.

Charcterstics:-

Normal distribution is unimodel.

the normal curve is symmetric about its mean.

the Parameters u ans sigma completely represents the characterstic of normal distribution

# hypothesis testing

it is just testing of a particular claim

OUTCOMES:-

1. Accept the claim
2. Reject the claim
3. Fail to reject the claim

Terminologies:--

Critical value:- It is the boundary using which we decide what to do with the claim.

Critical-region:- Region beyond the critical value is called critical region

Null Hypothesis(H0)- claim

Alternate Hypothesis(H1)- opposite of the claim

# types of Hypothesis testing

Example1- Suppose the marks that sowma obtained in maths is normally distributed.sowmya claims that her average marks in all is 50

Here null hypothesis- mean=50;

Alternate Hypothesis- mean!=50;


1.Two Tailed test:-
    we have 2 critical values ,one on the left side of the               population mean and right side of the population mean
    
    
Example2- Suppose the marks that sowma obtained in maths is normally distributed.sowmya claims that her average marks in all is atleast 50

Here- Null hypothesis (or) claim =  mean>=50;

Alternate hypothesis - mean<50;

    
2.Lower tailed test:-
    we have one critical value and that too on the left side of the       population mean
    
    
Example3 - Suppose the marks that sowma obtained in maths is normally distributed.sowmya claims that her average marks in all is atmost 50

here null hypothesis- mean<=50;

Alternate Hypothesis- mean>50;


3.Upper Tailed test:-
       we have one critical value and that too on the right side of          the population mean

Types Of hypothesis Testing:-

1. Two-tailed-test

2. Lower tailed test

3. Upper tailed test

# perform Hypothesis testing

Example -  The Factory claims to dispense 80ml of fluid in their shampoo bottle. but the employee of the factory does not believe so.that is why he performed a test on 40 sample bottles and that test he found out the mean to be 78ml with a standard deviation of 2.5 with 95% confidence interval do the hypothesis testing

In the Given Problem:-

Here u=80---> population mean=80

n=40

x^=78ml--->x bar 

s=2.5--> standard deviation

alpha=0.05----> here there is a 5%  of chance that emploee is wrong.

# Z-Test Hypothesis Testing:-

# Approach

Here null hypothesis: mean=80

Alternate Hypothesis:- mean!=80

Based on the Critical values,

Here we perform  "Two tailed test hypothesis test"  because we are getting two critical values 


calculate the area of critical region = (alpha/2) ----->0.05/2=0.025;


consider the critical region, w.r.t it calculate the area of non critical region

Refer to the z-table to find out how many standard deviations the critical value is far way from Population mean

Calculate the Z-score, which gives us an idea how many standard deviations is far away from sample mean to Population mean.

After getting the Z-score i.e is -5.06, which is present in the critical region,So finally  "We Reject the Claim"

# T-test hypothesis testing

Here null hypothesis: mean=80

Alternate Hypothesis:- mean!=80

Based on the Critical values,

Here we perform  "Two tailed test hypothesis test"  because we are getting two critical values 


calculate the area of critical region = (alpha/2) ----->0.05/2=0.025;


consider the critical region, w.r.t it calculate the area of non critical region

Calculate the degrees of freedom

Refer to the T-table to find out how many standard deviations the critical value is far way from Population mean

Calculate the T-score, which gives us an idea how many standard deviations is far away from sample mean to Population mean.

Finally Conclude the test

# 3. Chi-Square test

It helps us to see if two columns are co-related or not

It only works if the two columns are categorical

steps:- 
    
Formulate null and alternate hypothesis

Calculate alpha value

Create a table of observed values

create a table of expected values # (sum of row * sum of column)/length of the table.

calculate the degrees of freedom =(columns-1)*(rows-1)

Calculate the tabular chi-square value

finally find the calculated chi-square value-> sum( (oberved-expected)^2/expected) .

NOTE:- if calculated chi-square value > tabular chi-square value we will reject the null hypothesis on the other hand you will not reject the null hypothesis.

# implementation of z-test using python

# 1 . One sample test

In [ ]:
from statsmodels.stats.weightstats import ztest

In [11]:
#The school is claiming that the avearge Iq of their students is 100 but the board does not believe so, they performed a test on 40 students and they found out IQ as follows--
import numpy as np
samples=[120,90,89,60,50,110,80,70,67,99,101,115,120,78,55,40,90,111,100,100,90,80,89,88,90,99,100,99,90,103,104,106,109,90,100,107,106,89,99,100]

#to find sample mean
m=np.mean(samples);
m

std=np.std(samples);
std #18.076

18.076763399458432

In [28]:
res=ztest(samples,value=100,alternative="two-sided");
res

(-2.737857881062382, 0.006184079373856226)

here -2.73785 is the Z-score

0.00618 is the p-value

if p-value > alpha then we fail to reject the claim
 
if p-value<= alpha reject the claim

# 2. Two sample test

two sample test is used to check if the difference in the mean of 2 collections is significant or not

Null hypothesis:- There is no significant difference in the mean of 2 collections

Alternate Hypothesis:- there is a significant difference in the mean of 2 collections

In [24]:
import pandas as pd
from statsmodels.stats.weightstats import ztest

In [25]:
df=pd.DataFrame({"id":[1,2,3,4,5,6,7,8,9,10],"sepal_len":[1.8,1.2,2.3,4.5,5.5,3.5,2.2,2.7,3.9,7.0],"sep_wid":[2.0,3.4,5.6,2.2,1.9,5.4,4.8,2.7,4.2,3.3],"pet_len":[1.4,1.5,4.2,2.6,4.5,2.9,5.5,8.9,3.5,1.7],"species":["chamanti","gulabi","gulabi","gulabi","chamanti","chamanti","gulabi","mandhara","mandhara","chamanti"]});
df

   id  sepal_len  sep_wid  pet_len   species
0   1        1.8      2.0      1.4  chamanti
1   2        1.2      3.4      1.5    gulabi
2   3        2.3      5.6      4.2    gulabi
3   4        4.5      2.2      2.6    gulabi
4   5        5.5      1.9      4.5  chamanti
5   6        3.5      5.4      2.9  chamanti
6   7        2.2      4.8      5.5    gulabi
7   8        2.7      2.7      8.9  mandhara
8   9        3.9      4.2      3.5  mandhara
9  10        7.0      3.3      1.7  chamanti

In [48]:
df.describe()

             id  sepal_len    sep_wid    pet_len
count  10.00000   10.00000  10.000000  10.000000
mean    5.50000    3.46000   3.550000   3.670000
std     3.02765    1.80567   1.389044   2.289614
min     1.00000    1.20000   1.900000   1.400000
25%     3.25000    2.22500   2.325000   1.925000
50%     5.50000    3.10000   3.350000   3.200000
75%     7.75000    4.35000   4.650000   4.425000
max    10.00000    7.00000   5.600000   8.900000

In [27]:
res=ztest(df["sepal_len"],df["sep_wid"])
res

(-0.12492906206096292, 0.9005797104081293)

In [22]:
if res[1]<=0.05:
    print("REJECT THE NULL HYPOTHESIS");
else:
    print("Fail to reject the null hypothesis");

Fail to reject the null hypothesis

In [66]:
s=lambda x,y,z:x+y+z;
print(s(y=2,x=9,z=8)) # this is keyword arguments.

print(s(2,9,8)) #here x=2,y=9,z=8;
#this is positional arguments...

s2=lambda x,y:max(x,y);
print(s2(20,67))

19
19
67